# 시스템 및 IDE 설정 파일
.gradle/
.idea/
.vscode/
*.iml
*.ipr
*.iws

# 빌드 및 아티팩트 디렉터리
**/gradlew
**/gradlew.bat
/gradle
**/build/
**/bin/
**/out/
**/.gradle/

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# 환경 설정 파일 (config, eureka 제외 모든 yml 파일을 포함)
config-service/src/main/resources/application.yml
eureka-service/src/main/resources/application.yml
gateway-service/src/main/resources/application.yml
eureka-service/src/main/resources/application-dev.yml
eureka-service/src/main/resources/application-prod.yml
eureka-service/src/main/resources/application-test.yml

# 환경 변수 파일
*.env*

# LOG 파일
/logs