<configuration debug="false">

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <springProperty scope="context" name="SPRING_PROFILES_ACTIVE" source="spring.profiles.active" defaultValue="dev"/>
    <property name="LOG_PATH" value="./gateway-service/logs" />
    <property name="LOG_FILE" value="${LOG_PATH}/gateway-service.log" />
    <property name="PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] %clr([%-5level]){colorByLevel} [%thread] %clr(%logger){magenta}  :  %msg | uri=%X{uri} method=%X{method} ip=%X{ip} userAgent=%X{userAgent} requestId=%X{requestId}%n"/>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <jsonGeneratorDecorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">
                <defaultMask>****</defaultMask>
                <path>password</path>
                <path>email</path>
                <path>Authorization</path>
            </jsonGeneratorDecorator>
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <message>message</message>
                <level>level</level>
                <logger>logger</logger>
                <thread>thread</thread>
            </fieldNames>
            <includeMdc>true</includeMdc>
            <customFields>{"service":"gateway-service","env":"${SPRING_PROFILES_ACTIVE}"}</customFields>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/gateway-service.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="REQUEST_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/gateway-service-request.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/gateway-service-request.%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"log_type":"request","service":"gateway-service","env":"${SPRING_PROFILES_ACTIVE}"}</customFields>
            <includeMdc>true</includeMdc>
        </encoder>
    </appender>

    <appender name="SUSPICIOUS_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/gateway-service-suspicious.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/gateway-service-suspicious.%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"log_type":"suspicious","service":"gateway-service","env":"${SPRING_PROFILES_ACTIVE}"}</customFields>
            <includeMdc>true</includeMdc>
        </encoder>
    </appender>

    <appender name="ASYNC_JSON" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="JSON"/>
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
    </appender>

    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
    </appender>

    <appender name="ASYNC_REQUEST_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="REQUEST_FILE"/>
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
    </appender>

    <appender name="ASYNC_SUSPICIOUS_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SUSPICIOUS_FILE"/>
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC_JSON"/>
        <appender-ref ref="ASYNC_FILE"/>
    </root>

    <logger name="com.boeingmerryho.infrastructure.gatewayservice" level="DEBUG" additivity="false">
        <appender-ref ref="ASYNC_JSON"/>
        <appender-ref ref="ASYNC_FILE"/>
    </logger>

    <logger name="requestLogger" level="INFO" additivity="false">
        <appender-ref ref="ASYNC_REQUEST_FILE"/>
    </logger>

    <logger name="suspiciousLogger" level="WARN" additivity="false">
        <appender-ref ref="ASYNC_SUSPICIOUS_FILE"/>
    </logger>

</configuration>
